<h1>eMails Configurations</h1>

<table>
  <tr>
    <th colspan=3>Subject</th>
  
  </tr>

<% for smer in @smers %>
  <tr>
    <td><%=h smer.subject %></td>
    <td><%= link_to 'Show', smer %></td>
    <td><%= link_to 'Edit', edit_smer_path(smer) %></td>
    <td><%= link_to 'Destroy', smer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New eMail Configuration', 'smers/new' %>
