<p>
  <b>Subject:</b>
  <%=h @smer.subject %>
</p>

<p>
  <b>From:</b>
  <%=h @smer.from %>
</p>

<p>
  <b>Redirect:</b>
  <%=h @smer.redirect %>
</p>

<p>
  <b>Recipients:</b>
  <%=h @smer.recipients %>
</p>

<p>
  <b>Email template:</b>
  <%=h @smer.email_template %>
</p>


<%= link_to 'Edit', edit_smer_path(@smer) %> |
<%= link_to 'Back', smers_path %>
